.main-heading {
  color: white;
  background: #1460aa;
}

.secondary-heading {
  color: #1460aa;
}
.paragraph-heading {
  color: blue;
}
body {
  background: #fefefe;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  background: #ffffff;
}

.navigation {
  background: #3b3b3d;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
}
.navigation__link {
  color: white;
  display: inline-block;
  margin-right: 20px;
}
.navigation__link--homepage {
  color: yellow;
}
.navigation__link--active {
  font-weight: bold;
}

#polecenia {
  background: orange;
}
