body {
  background: #cfcccc;
  font-family: Arial, Helvetica, sans-serif;
}
footer {
  background: #3f3f3f;
  color: white;
  padding: 5px;
  margin-top: 50px;
  box-sizing: border-box;
  border-radius: 5px;
}
.about-me {
  min-height: 320px;
}
.about-me__image {
  float: left;
  margin-right: 20px;
}
.about-me__heading {
  color: #353552;
}
.navigation {
  background: #3b3b3d;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  display: block;
  width: 100%;
  top: 1px;
  box-sizing: border-box;
}
.navigation__link {
  color: white;
  display: inline-block;
  margin-right: 20px;
}
.navigation__link--homepage {
  color: yellow;
}
.navigation__link--active {
  font-weight: bold;
}
.page-heading {
  color: white;
  background: #41566b;
}

.secondary-heading {
  min-height: 320px;
}
.secondary-heading__image {
  float: left;
  margin-right: 20px;
}

.notes__article {
  display: block;
}
.notes__article--heading {
  color: #353552;
}
.notes__heading {
  color: #353552;
}
