.main-heading {
  color: white;
  background: #1460aa;
}

.secondary-heading {
  color: #1460aa;
}
.paragraph-heading {
  color: blue;
}
body {
  background: #fefefe;
}
section {
  background: #ffffff;
}

.navigation {
  background: #3b3b3d;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  }
  .navigation__link {
    color: white;
    display: inline-block;
    margin-right: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .navigation__link--homepage {
    
    color: yellow;
  }
  .navigation__link--active {
    font-weight: bold;
  }
.page-heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#polecenia {
  background: orange;
}
